body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
}
.menu button {
  flex: 1; /* All buttons have equal width */
  min-width: 120px;
  padding: 15px 0;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  height: 50px;
}
.menu button:hover {
  background-color: #45a049;
}


.tabContent {
  display: none;
  margin: 20px 0;
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}



textarea,
input {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    max-width: 600px;
    /* Ensure same width as search bar */
}

textarea {
    height: 120px;
    resize: vertical;
    display: block;
    margin: 0 auto;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#sentimentResult {
    font-weight: bold;
}

.top-worst {
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}